---
import { Image } from "astro:assets"
import { ClientRouter } from "astro:transitions"
import "@fontsource-variable/atkinson-hyperlegible-next"
import "@fontsource-variable/atkinson-hyperlegible-next/wght-italic.css"
import "@fontsource-variable/atkinson-hyperlegible-mono"
import "@fontsource-variable/atkinson-hyperlegible-mono/wght-italic.css"

import "../styles/global.css"
import logo from "../assets/logo.svg"
import logoUnstable from "../assets/logo-unstable.svg"

interface Props {
  redirect?: string
  title?: string
  unstable?: boolean
}

const currentLogo = Astro.props.unstable ? logoUnstable : logo
---

<html lang="en" class:list={[{ unstable: Astro.props.unstable }]}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A small, fast, and reliable programming language."
    />
    <meta name="author" content="Louka Ménard Blondin" />
    <meta property="og:title" content="Lus" />
    <meta
      property="og:description"
      content="A small, fast, and reliable programming language that is sovereign."
    />
    <meta property="og:image" content="https://lus.dev/banner.png" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="418" />
    <meta property="og:url" content="https://lus.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="Lus" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Lus" />
    <meta
      name="twitter:description"
      content="A small, fast, and reliable programming language."
    />
    <meta name="twitter:image" content="https://lus.dev/banner.png" />

    {
      Astro.props.redirect && (
        <meta http-equiv="refresh" content={`0;url=${Astro.props.redirect}`} />
      )
    }

    <title>Lus{Astro.props.title && ` - ${Astro.props.title}`}</title>
    <ClientRouter />
  </head>
  <body transition:animate="none">
    <header>
      <div class="header-inner">
        <Image
          src={currentLogo}
          alt="Lus"
          class="lus-logo"
          width={64}
          height={64}
        />
        <nav>
          <a href="/">home</a>
          ·
          <a href="/playground">playground</a>
          ·
          <a href="/manual">manual</a>
          ·
          <a href="/faq">faq</a>
          ·
          <a href="/news">news</a>
        </nav>
      </div>
    </header>
  </body>
  <slot />
  <footer>
    <div class="footer-inner">
      <div>
        <Image
          src={currentLogo}
          alt="Lus"
          class="lus-logo"
          width={32}
          height={32}
        />
      </div>
      <div>
        <p>
          Lus is a personal project and copyright of <a
            href="https://louka.sh"
            target="_blank">Louka Ménard Blondin</a
          > licensed under the 0-clause BSD license. Lua is copyrighted by
          <a href="https://www.puc-rio.br/english/" target="_blank">PUC-Rio</a> and
          licensed under the MIT license.
        </p>
      </div>
    </div>
  </footer>
</html>

<style>
  @reference "../styles/global.css";

  header {
    @apply bg-linear-to-b to-lime-50 from-lime-200;

    .header-inner {
      @apply container mx-auto px-8 py-4 flex items-end gap-4;

      nav {
        @apply text-lime-700 ml-auto;
        a {
          @apply font-normal no-underline hover:bg-lime-200;
        }
      }
    }
  }

  footer {
    @apply py-8 text-lime-800 text-xs bg-linear-to-b from-lime-50 to-lime-100 mt-auto;

    .footer-inner {
      @apply flex items-center px-8 gap-4 container mx-auto;

      div {
        @apply lg:flex-1;
      }

      img {
        @apply min-w-8 min-h-8;
      }
    }
  }

  :global(html.unstable) {
    header {
      @apply to-red-50 from-red-200;

      .header-inner nav {
        @apply text-red-700;
        a {
          @apply hover:bg-red-200;
        }
      }
    }

    footer {
      @apply text-red-800 from-red-50 to-red-100;
    }
  }
</style>
