@import "tailwindcss";

@theme {
  --font-sans: "Atkinson Hyperlegible Next Variable", sans-serif;
  --font-mono: "Atkinson Hyperlegible Mono Variable", monospace;
}

@utility lus-shadow {
  box-shadow: 0.4rem 0.4rem 0px 0 var(--tw-shadow-color);
}

body {
  @apply font-sans text-lime-950 bg-lime-50 min-h-screen flex flex-col;
}

main {
  @apply container mx-auto p-8 space-y-8;
}

a {
  @apply underline hover:no-underline text-lime-700 font-bold;
}

section {
  @apply space-y-2;

  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-semibold;
  }

  h3 {
    @apply text-lg font-semibold;
  }

  p:has(+ h2),
  ul:has(+ h2),
  ol:has(+ h2),
  pre:has(+ h2) {
    @apply mb-8;
  }

  pre {
    @apply my-4;
    code {
      @apply block overflow-x-scroll bg-white p-4 border border-lime-300;
    }
  }
}

ul {
  @apply list-disc list-outside pl-4 space-y-2;
}

li {
  @apply list-item;
}

blockquote {
  @apply border bg-lime-100 border-lime-300 p-4 text-lime-700;
}

table {
  @apply w-full border-collapse my-4;

  th, td {
    @apply border border-lime-300 px-4 py-2 text-left;
  }

  th {
    @apply bg-lime-100 font-semibold;
  }

  tr:nth-child(even) td {
    @apply bg-lime-50;
  }

  tr:hover td {
    @apply bg-lime-100;
  }
}

html.unstable {
  body {
    @apply text-red-950 bg-red-50;
  }

  a {
    @apply text-red-700;
  }

  section pre code {
    @apply border-red-300;
  }

  blockquote {
    @apply bg-red-100 border-red-300 text-red-700;
  }
}
