---
import Layout from "../../components/Layout.astro"
import { getCollection, getEntry, render } from "astro:content"

export async function getStaticPaths() {
  const news = await getCollection("news")
  return news.map((page) => ({
    params: { id: page.id },
    props: { page },
  }))
}

const page = await getEntry("news", Astro.params.id!)!
const rendered = await render(page)
---

<Layout title={page.data.title}>
  <main>
    <section>
      <a href="/news" class="back-link">← Back to news</a>
      <article>
        <p class="date">{page.data.date}</p>
        <rendered.Content />
      </article>
    </section>
  </main>
</Layout>

<style>
  @reference "../../styles/global.css";

  .back-link {
    @apply text-sm text-lime-600 font-normal no-underline hover:underline mb-4 inline-block;
  }

  article {
    @apply space-y-4;
    .date {
      @apply text-sm text-lime-800;
    }
  }

  article :global(h1) {
    @apply text-3xl font-bold text-lime-800 tracking-tight pb-4;
  }
</style>
